<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <article>
            <div class="container1">
                <h3>TOTAL STUDENTS : {{totalStudents}}</h3>
                <table class="table table-striped table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>IsMale</th>
                    <th>Options</th>
                </tr>
                <tr ng-repeat="student in studentData">
                    <td>{{student.id}}</td>
                    <td>{{student.rollNo}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.date}}</td>
                    <td>{{student.isMale}}</td>
                    <td>
                        <button ng-controller="EditController" ng-click="loadData(student)" class="btn btn-info btn-sm">Edit</button>
                        <button id="delete" ng-click="deleteData(student.id)" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </table>
            </div>
        </article>
    </body>
</html>