<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <style>
        .jumbotron{
            background-color:darkturquoise;
            height: 20px;
        }
        h4{
            color: white;
        }
        .logo{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .footer{
            text-align: center;
        }
        </style>
    </head>
    <body>
        <article>
           <div class="container"style="border:1px solid blue;">
               <div class="jumbotron"><h4>Welcome</h4></div>
               <img src="templates/logo.jpg" width="500px" height="300px"class="logo"><br><br>
               <p class="footer">Developed by: deepak.misal2350@gmail.com</p>
           </div>
        </article>
    </body>
</html>